{% load static %}
<div class="nav-header">
    <a href="{% url 'advepa:index' %}" class="brand-logo">
        <div class="logo-abbr">
            <img src="{% static 'advepa/images/advepa/icona-advepa.png' %}" alt="">
        </div>
        <div class="brand-title">
            <img src="{% static 'advepa/images/advepa/testo-nero-advepa.png' %}" alt="">
        </div>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>