{% load static %}
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            {% if perms.users.view_customuser or perms.auth.view_group or perms.auth.view_permission or request.user.is_superuser %}
                <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Tabelle dati</span>
                </a>
                    <ul aria-expanded="false">
                        {% if request.user.role == "superadmin" or request.user.is_staff %}
                            <li><a href="{% url 'advepa:users' %}">Utenti</a></li>
                            <li><a href="{% url 'advepa:groups' %}">Gruppi</a></li>
                            <li><a href="{% url 'advepa:permissions' %}">Permessi</a></li>
                            <li><a href="{% url 'advepa:schools' %}">Scuole</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Pagine</span>
            </a>
                <ul aria-expanded="false">
                    {% if request.user.role == 'admin' %}
                        <li><a href="{% url 'advepa:users' %}">Utenti</a></li>
                    {% endif %}
                    <li><a href="{% url 'advepa:file-manager' %}">File Manager</a></li>
                    <li><a href="{% url 'advepa:school-dashboard' %}">Dashboard Scuola</a></li>
                </ul>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>Advepa Educational</strong> © 2023 All Rights Reserved</p>
            </p>
        </div>
    </div>
</div>