{% extends 'advepa/elements/layouts/admin.html' %}
{% load static %}

<!-- Additional Css -->
{% block additional_css %}

{% endblock %}

{% block message %}
    {% include 'advepa/elements/alert.html' %}
{% endblock %}

{% block content %}
    {% if school != None %}
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo"></div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{ school.name }}</h4>
                                    <p>Nome</p>
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">{{ school.custom_id }}</h4>
                                    <p>Codice Univoco</p>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a href="#"
                                       class="btn btn-primary light sharp {% if request.user.role == "teacher" %}disabled{% endif %}"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="true">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             width="18px" height="18px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <a href="{% url 'advepa:edit-school' id=school.id %}">
                                            <li class="dropdown-item">
                                                <i class="fa fa-pencil text-primary me-2"></i>
                                                Modifica Nome Scuola
                                            </li>
                                        </a>
                                        <a href="{% url 'advepa:add-user' %}">
                                            <li class="dropdown-item">

                                                <i class="fa fa-users text-primary me-2"></i> Crea
                                                credenziali utenti

                                            </li>
                                        </a>
                                        <li class="dropdown-item"><i class="fa fa-clipboard text-primary me-2"></i>
                                            Aggiungi news, bandi o appuntamenti
                                        </li>
                                        <a href="{% url 'advepa:add-faq' %}">
                                            <li class="dropdown-item"><i
                                                    class="fa fa-plus text-primary me-2"></i> FAQS
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.role == "superadmin" or request.user.role == "admin" or request.user.is_staff %}
                        <div class="card-action card-tabs mb-lg-0 mb-3  me-auto">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#files-classrooms"
                                       role="tab" aria-selected="false">
                                        Files e Aule
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#notices" role="tab"
                                       aria-selected="false">
                                        Bacheca
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#faqs" role="tab"
                                       aria-selected="true">
                                        Faqs
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <br/>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="tab-content">
        {% if classroom_list %}
            <div class="tab-pane fade show active" id="files-classrooms" role="tabpanel">
                <div class="row h-100">
                    <div class="col-xl-9 col-lg-18 col-sm-18 h-100" id="planimetria_aule">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Planimetria Aule</h4>
                            </div>
                            <div class="card-body">
                                <img src="{% static 'advepa/images/Planimetria_numerata.png' %}" width="100%"
                                     height="100%"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6" id="select_file_class">
                        <form id="filter-form" method="POST" action="{% url 'advepa:school-dashboard' %}">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Carica File</h4>
                                </div>
                                <div class="card-body">
                                    <div class="tab-width-icon">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab"
                                                   href="#graph_filter_position">
                                        <span>
                                            <i class="ti-home"></i>
                                        </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content tabcontent-border">
                                        <div class="tab-pane fade show active" id="graph_filter_position"
                                             role="tabpanel">
                                            <div class="pt-4">
                                                <div id="class_select">
                                                    <div class="mb-4">
                                                        <h4 class="card-title">Seleziona la classe</h4>
                                                    </div>
                                                    <select id="classroom-select" name="classroom-select">
                                                        {% for class in classroom_list %}
                                                            <option value="{{ class.id }}">{{ class.get_name_for_list }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div id="file_select">
                                                    <div class="mb-4">
                                                        <h4 class="card-title">Seleziona il file</h4>
                                                    </div>

                                                    <select id="file-select" name="file-select">
                                                        {% for file in all_file_list %}
                                                            <option value="{{ file.id }}">{{ file.get_name_for_select }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="float-end">
                                        <button type="submit" class="btn btn-rounded btn-secondary">Inserisci</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Files Caricati</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th style="width:50px;">
                                            <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkAll" value="">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>Estensione</th>
                                        <th>Dimensione</th>
                                        <th>Aggiunto il</th>
                                        <th>Aula</th>
                                        {#                                    {% if perms.users.delete_customuser or perms.users.change_customuser or perms.auth.change_permission %}#}
                                        <th></th>
                                        {#                                    {% endif %}#}


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% csrf_token %}
                                    {% for file in uploaded_file_list %}
                                        {% for class in file.classroom_set.all %}
                                            <tr id="{{ file.id }}" data-classroom-id="{{ class.id }}" class="file-row">
                                                <td>
                                                    <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                                        <input name="file_id[]" type="checkbox"
                                                               class="form-check-input"
                                                               value="{{ file.id }}">
                                                        <label class="form-check-label"
                                                               for="checkbox-{{ file.id }}"></label>
                                                    </div>
                                                </td>
                                                <td>{{ file.name }}</td>
                                                <td>{{ file.type.get_macro_type_display }}</td>
                                                <td>{{ file.type.extension }}</td>
                                                <td>{{ file.byte_space }}</td>
                                                <td>{{ file.create_date }}</td>
                                                <td>{{ class.room_number }}</td>
                                                <td>
                                                    <div class="sweetalert">
                                                        <div class="d-flex">
                                                            <a href="{% url 'advepa:unlink-file-classroom' classroom_id=class.id file_id=file.id %}"
                                                               class="btn btn-danger shadow btn-xs sharp sweet-success-cancel">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                            <nav mt-5>

                                <p>
                            <span class="current">
                            Pagina {{ uploaded_file_list.number }} di {{ uploaded_file_list.paginator.num_pages }}.
                           </span>
                                </p>


                                <ul class="pagination pagination-gutter  justify-content-end">

                                    <li class="page-item page-indicator ">
                                        <a class="page-link" href="{% if uploaded_file_list.has_previous %}
                                                                ?page={{ uploaded_file_list.previous_page_number }}
                                                                {% else %}
                                                                javascript:void(0);
                                                                {% endif %}">
                                            <i class="la la-angle-left"></i></a>
                                    </li>

                                    {% for i in uploaded_file_list.paginator.page_range|slice:":3" %}

                                        <li class="page-item {% if uploaded_file_list.number == i %}
                                                    active{% endif %}"><a class="page-link"
                                                                          href="?page={{ i }}">{{ i }}</a></li>

                                    {% endfor %}


                                    {% if uploaded_file_list.number > 3 %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ uploaded_file_list.number }}">{{ uploaded_file_list.number }}</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item page-indicator ">
                                        <a class="page-link" href="{% if uploaded_file_list.has_next %}
                                                            ?page={{ uploaded_file_list.next_page_number }}
                                                            {% else %}
                                                            javascript:void(0);
                                                            {% endif %}">
                                            <i class="la la-angle-right"></i></a>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

            <div class="tab-pane fade show active" id="files-classrooms" role="tabpanel">
                <div class="row">
                    <div class="col-xl-3"></div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Sezione Aule ancora non disponibile!</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Gentile utente, la sezione aule non è ancora disponibile, se pensi
                                    si
                                    tratti di un errore, contattaci. <br> Grazie</p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between align-items-center">
                                <div class="card-footer-link mb-4 mb-sm-0">
                                    <p class="card-text text-dark d-inline">Aggiornato al 06/11/2023</p>
                                </div>

                                <a href="{% url 'advepa:file-manager' %}" class="btn btn-primary">Vai al
                                    File-Manager</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="tab-pane fade" id="notices" role="tabpanel">
            <div class="col-xl-12">
                <div class="card message-bx">
                    <div class="card-header d-sm-flex d-block shadow-sm">
                        <div>
                            <h4 class="fs-20 mb-0 font-w600 text-black mb-sm-0 mb-2">Bacheca</h4>
                        </div>
                        <a class="btn btn-primary rounded disabled" href="{% url 'advepa:add-school' %}">
                            + Aggiungi elemento in Bacheca
                        </a>
                    </div>
                </div>
                <div class="row kanban-bx">
                    <div class="col-xl-4">
                        <div class="card dropzoneContainer">
                            <span class="line bg-secondary" style="min-height: 4px;"></span>
                            <div class="card-header shadow-sm">
                                <div>
                                    <h4 class="fs-20 mb-0 font-w600 text-black">News
                                        ( {{ news|length }} )</h4>
                                </div>
                                <a href="{% url 'advepa:add-notice' notice_type='news' %}"
                                   class="plus-icon {% if news|length >= 10 %}disabled{% endif %}"><i
                                        class="fa fa-plus"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div class="card-body draggable-zone  loadmore-content dlab-scroll  pb-0"
                                 id="RecentActivitiesContent">
                                {% for obj in news %}
                                    <div class="border-bottom pb-4 mb-4 draggable-handle draggable">
                                        <div class="media-body">
                                            <div class="d-flex mb-sm-2 mb-0">
                                                <h6 class="text-black mb-0 font-w600 fs-16">{{ obj.title }}</h6>
                                                <span class="ms-auto fs-14"><a
                                                        href="{% url 'advepa:edit-notice' id=obj.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                <a
                                                        href="{% url 'advepa:delete-notice' id=obj.id %}"
                                                        class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash -align-right"></i></a></span>
                                            </div>
                                            <p class="text-black">{{ obj.text }}</p>
                                            {% if obj.link %}
                                                <p class="text-gray">{{ obj.link }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-12 ps-0">
                                                <span class="fs-14">{{ obj.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card dropzoneContainer">
                            <span class="line bg-success" style="min-height: 4px;"></span>
                            <div class="card-header shadow-sm">
                                <div>
                                    <h4 class="fs-20 mb-0 font-w600 text-black">Bandi
                                        ( {{ docs|length }} )</h4>
                                </div>
                                <a href="{% url 'advepa:add-notice' notice_type='doc' %}"
                                   class="plus-icon {% if docs|length >= 10 %}disabled{% endif %}"><i
                                        class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-body draggable-zone  loadmore-content dlab-scroll  pb-0"
                                 id="RecentActivitiesContent">
                                {% for obj in docs %}
                                    <div class="border-bottom pb-4 mb-4 draggable-handle draggable">
                                        <div class="media-body">
                                            <div class="d-flex mb-sm-2 mb-0">
                                                <h6 class="text-black mb-0 font-w600 fs-16">{{ obj.title }}</h6>
                                                <span class="ms-auto fs-14"><a
                                                        href="{% url 'advepa:edit-notice' id=obj.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                <a
                                                        href="{% url 'advepa:delete-notice' id=obj.id %}"
                                                        class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash -align-right"></i></a></span>
                                            </div>
                                            <p class="text-black">{{ obj.media_file }}</p>
                                            {% if obj.link %}
                                                <p class="text-gray">{{ obj.link }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-12 ps-0">
                                                <span class="fs-14">{{ obj.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card dropzoneContainer">
                            <span class="line bg-warning" style="min-height: 4px;"></span>
                            <div class="card-header shadow-sm">
                                <div>
                                    <h4 class="fs-20 mb-0 font-w600 text-black">Appuntamento</h4>
                                </div>
                                <a href="{% url 'advepa:add-notice' notice_type='meet' %}"
                                   class="plus-icon {% if meet %}disabled{% endif %}"><i
                                        class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-body draggable-zone  loadmore-content dlab-scroll  pb-0"
                                 id="RecentActivitiesContent">
                                <div class="border-bottom pb-4 mb-4 draggable-handle draggable">
                                    {% if meet %}
                                        <div class="media-body">
                                            <div class="d-flex mb-sm-2 mb-0">
                                                <h6 class="text-black mb-0 font-w600 fs-16">{{ meet.title }}</h6>
                                                <span class="ms-auto fs-14"><a
                                                        href="{% url 'advepa:edit-notice' id=meet.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                <a
                                                        href="{% url 'advepa:delete-notice' id=meet.id %}"
                                                        class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash -align-right"></i></a></span>
                                            </div>
                                            <p class="text-black">Link: {{ meet.meet_link }}</p>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-12 ps-0">
                                                <span class="fs-14">{{ meet.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="faqs" role="tabpanel">
            <div class="col-xl-12">
                <div class="card message-bx">
                    <div class="card-header d-sm-flex d-block shadow-sm">
                        <div>
                            <h4 class="fs-20 mb-0 font-w600 text-black mb-sm-0 mb-2">Lista FAQS</h4>
                            <div class="card-action card-tabs mb-lg-0 mb-3  me-auto">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a href="#section1" class="nav-link active" data-bs-toggle="tab"
                                           aria-expanded="false"><span
                                                class="badge light badge-primary">{{ faq_section_1.faqs|length }}</span>Sezione
                                            1
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#section2" class="nav-link" data-bs-toggle="tab"
                                           aria-expanded="false"><span
                                                class="badge light badge-primary">{{ faq_section_2.faqs|length }}</span>Sezione
                                            2</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#section3" class="nav-link" data-bs-toggle="tab"
                                           aria-expanded="true"><span
                                                class="badge light badge-primary">{{ faq_section_3.faqs|length }}</span>Sezione
                                            3</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded" href="{% url 'advepa:add-faq' %}">
                            + Aggiungi FAQ
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="section1" role="tabpanel">
                                {% for faq in faq_section_1.faqs %}
                                    <div class="media mb-4">
                                        <div class="media-body d-sm-flex justify-content-between d-block align-items-center">
                                            <div class="me-sm-3 me-0">
                                                <h6 class="fs-16 font-w600 mb-sm-2 mb-0"><a
                                                        class="text-black">{{ faq.question }}</a><a
                                                        href="{% url 'advepa:edit-faq' id=faq.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                    <a
                                                            href="{% url 'advepa:delete-faq' id=faq.id %}"
                                                            class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                            class="fa fa-trash -align-right"></i></a>
                                                </h6>
                                                <p class="text-black mb-sm-3 mb-1">{{ faq.answer }}</p>
                                                {% if faq.link %}
                                                    <p class="text-sm-left text-blue">Link: {{ faq.link }}</p>
                                                {% endif %}
                                                <span class="fs-14">{{ faq.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="section2" role="tabpanel">
                                {% for faq in faq_section_2.faqs %}
                                    <div class="media mb-4">
                                        <div class="media-body d-sm-flex justify-content-between d-block align-items-center">
                                            <div class="me-sm-3 me-0">
                                                <h6 class="fs-16 font-w600 mb-sm-2 mb-0"><a
                                                        class="text-black">{{ faq.question }}</a><a
                                                        href="{% url 'advepa:edit-faq' id=faq.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                    <a
                                                            href="{% url 'advepa:delete-faq' id=faq.id %}"
                                                            class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                            class="fa fa-trash -align-right"></i></a>
                                                </h6>
                                                <p class="text-black mb-sm-3 mb-1">{{ faq.answer }}</p>{% if faq.link %}
                                                <p class="text-sm-left text-blue">Link: {{ faq.link }}</p>
                                            {% endif %}
                                                <span class="fs-14">{{ faq.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="section3" role="tabpanel">
                                {% for faq in faq_section_3.faqs %}
                                    <div class="media mb-4">
                                        <div class="media-body d-sm-flex justify-content-between d-block align-items-center">

                                            <div class="me-sm-3 me-0">
                                                <h6 class="fs-16 font-w600 mb-sm-2 mb-0"><a
                                                        class="text-black">{{ faq.question }}</a><a
                                                        href="{% url 'advepa:edit-faq' id=faq.id %}"
                                                        class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil -align-right"></i></a>
                                                    <a
                                                            href="{% url 'advepa:delete-faq' id=faq.id %}"
                                                            class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                            class="fa fa-trash -align-right"></i></a>
                                                </h6>
                                                <p class="text-black mb-sm-3 mb-1">{{ faq.answer }}</p>{% if faq.link %}
                                                <p class="text-sm-left text-blue">Link: {{ faq.link }}</p>
                                            {% endif %}
                                                <span class="fs-14">{{ faq.last_modify_date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_js %}
    <script>
        $('#lightgallery').lightGallery({
            thumbnail: true,
        });
    </script>
    <script>
        $('.test-popup-link').magnificPopup({
            type: 'image'
            // other options
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#classroom-select').on('change', function () {
                var selectedClassroomId = parseInt($(this).val());

                $('.file-row').each(function () {
                    var classroomId = parseInt($(this).data('classroom-id'));
                    // Ottieni l'ID della classroom associata al file
                    // Controlla se il valore selezionato è vuoto o corrisponde all'ID della classroom associata al file
                    if (isNaN(selectedClassroomId) || selectedClassroomId === classroomId) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}l>