{% extends 'advepa/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
    {% include 'advepa/elements/alert.html' %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card  card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">Impostazioni Fiera</h6>
                    </div>
                    <div class="profile-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <label class="form-label">Nome {% if form.name.field.required %}
                                        <span class="text-danger">*</span> {% endif %}</label>
                                    {{ form.name|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Nome" }}
                                    <div class="text-danger w-100 d-block mt-1">
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label class="form-label">Padiglioni {% if form.pavilions.field.required %}
                                        <span class="text-danger">*</span>{% endif %}</label>
                                    {{ form.pavilions|attr:"class:multi-select-pavilions form-control"|attr:"name:pavilions[]" }}
                                    <div class="text-danger w-100 d-block mt-1">
                                        {{ form.pavilions.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b30">
                                    <label class="form-label">Informazioni aggiuntive
                                        {% if form.info.field.required %}
                                            <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    {{ form.info|attr:"class:form-control"|attr:"style:height: 144px;"|attr:"placeholder:Informazioni sulla fiera" }}
                                    <div class="text-danger w-100 d-block mt-1">
                                        {{ form.info.errors }}
                                    </div>
                                </div>
                            </div><!--RowEnd-->
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block additional_js %}
    <script>
        $(".multi-select-pavilions").select2({
            placeholder: "Seleziona i padiglioni"
        });
    </script>


{% endblock %}


