{% extends 'advepa/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
    {% include 'advepa/elements/alert.html' %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card  card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">{{ type_title }}</h6>
                    </div>
                    <div class="profile-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <label class="form-label">Titolo {% if form.title.field.required %}
                                        <span class="text-danger">*</span> {% endif %}</label>
                                    {{ form.title|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Titolo" }}
                                    <div class="text-danger w-100 d-block mt-1">
                                        {{ form.title.errors }}
                                    </div>
                                </div>
                                {% if notice_type == 'news' %}
                                    <div class="col-sm-6 m-b30">
                                        <label class="form-label">Testo
                                            <span class="text-danger">*</span></label>
                                        {{ form.text|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Testo"|attr:"required" }}
                                        <div class="text-danger w-100 d-block mt-1">
                                            {{ form.text.errors }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if notice_type != 'meet' %}
                                    <div class="col-sm-6 m-b30">
                                        <label class="form-label">Link {% if form.link.field.required %}
                                            <span class="text-danger">*</span> {% endif %}</label>
                                        {{ form.link|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Link" }}
                                        <div class="text-danger w-100 d-block mt-1">
                                            {{ form.link.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6 m-b30">
                                        <label class="form-label">Link di Meet
                                            <span class="text-danger">*</span></label>
                                        {{ form.meet_link|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Link"|attr:"required" }}
                                        <div class="text-danger w-100 d-block mt-1">
                                            {{ form.meet_link.errors }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if notice_type == 'doc' %}
                                    <label class="form-label">Media File
                                        <span class="text-danger">*</span></label>
                                    {{ form.media_file|attr:"class:form-control"|attr:"id:id_media_file" }}
                                    <div class="text-danger w-100 d-block mt-1">
                                        {{ form.media_file.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}


{% block additional_js %}
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                if ($('#id_meet_link').val() === '') {
                    alert('Il campo Meet Link è obbligatorio');
                    return false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                if ($('#id_text').val() === '') {
                    alert('Il campo Testo è obbligatorio');
                    return false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                if ($('#id_media_file').val() === '') {
                    alert('Il campo file è obbligatorio');
                    return false;
                }
            });
        });
    </script>
{% endblock %}


