{% extends 'advepa/elements/layouts/admin.html' %}
{% load static %}


{% block additional_css %}

{% endblock %}



{% block message %}
    {% include 'advepa/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div id="message">
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tabella dei padiglioni</h4>
                <div class="d-flex">
                    {% if perms.users.delete_pavilion %}
                        <button type="submit" id="delete_multiple_btn"
                                class="btn light btn-outline-primary btn-sm me-2 ">Elimina
                        </button>

                    {% endif %}
                    {% if perms.users.add_pavilion %}
                        <a href="{% url 'advepa:add-pavilion' %}" class="btn btn-primary btn-sm ">Crea Padiglione <span
                                class="btn-icon-end">
                            <i class="fa fa-plus"></i></span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" value="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th>Nome</th>
                            {% if perms.users.delete_pavilion or perms.users.change_pavilion or perms.auth.change_pavilion %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% csrf_token %}
                        {% for pavilion in pavilion_list %}
                            <tr id="{{ pavilion.id }}">
                                <td>
                                    <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                        <input name="user_id[]" type="checkbox" class="form-check-input"
                                               value="{{ pavilion.id }}">
                                        <label class="form-check-label" for="checkbox-{{ pavilion.id }}"></label>
                                    </div>
                                </td>
                                <td><strong>{{ pavilion.name }}</strong></td>
                                <td style="text-align: right;">
                                    <div class="sweetalert">
                                        <div class="d-flex">
                                            {% if perms.users.change_pavilion %}
                                                <a href="{% url 'advepa:edit-pavilion' id=pavilion.id %}"
                                                   class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil"></i></a>
                                            {% endif %}
                                            {% if perms.users.delete_pavilion %}
                                                <a href="{% url 'advepa:delete-pavilion' id=pavilion.id %}"
                                                   class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {#                FOOTER DELLA TABELLA#}
                <nav mt-5>
                    <p>
                            <span class="current">
                            Pagina {{ pavilion_list.number }} di {{ pavilion_list.paginator.num_pages }}.
                           </span>
                    </p>
                    <ul class="pagination pagination-gutter  justify-content-end">
                        <li class="page-item page-indicator ">
                            <a class="page-link" href="{% if pavilion_list.has_previous %}
                                                                ?page={{ pavilion_list.previous_page_number }}
                                                                {% else %}
                                                                javascript:void(0);
                                                                {% endif %}">
                                <i class="la la-angle-left"></i></a>
                        </li>
                        {% for i in pavilion_list.paginator.page_range|slice:":3" %}

                            <li class="page-item {% if pavilion_list.number == i %}
                                                    active{% endif %}"><a class="page-link"
                                                                          href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if pavilion_list.number > 3 %}
                            <li class="page-item active"><a class="page-link"
                                                            href="?page={{ pavilion_list.number }}">{{ pavilion_list.number }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item page-indicator ">
                            <a class="page-link" href="{% if pavilion_list.has_next %}
                                                            ?page={{ pavilion_list.next_page_number }}
                                                            {% else %}
                                                            javascript:void(0);
                                                            {% endif %}">
                                <i class="la la-angle-right"></i></a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}


{% block additional_js %}

    <script>


        $(document).ready(function () {


            $('#delete_multiple_btn').on('click', function () {

                if (confirm("Sei sicuro di voler eliminare i padiglioni selezionati?")) {
                    var id = [];

                    $(':checkbox:checked').each(function (i) {
                        id[i] = $(this).val();
                    });

                    if (id.length === 0) {
                        alert("Perfavore seleziona i padiglioni da eliminare")
                    } else {
                        console.log(id);
                        $.ajax({
                            url: "/delete-multiple-pavilion/",
                            method: "POST",
                            dataType: 'json',
                            data: {
                                id,
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function (res) {
                                if (res.warning) {
                                    document.getElementById("message").innerHTML += '<div class="alert alert-warning alert-dismissible alert-alt solid fade show">\
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                            </button>' + res.warning + '</div>';

                                }
                                if (res.success) {

                                    for (var i = 0; i < id.length; i++) {
                                        $('tr#' + id[i] + '').css('background-color', '#ccc');
                                        // $('tr#'+id[i]+'').fadeOut('slow');
                                        $('tr#' + id[i] + '').remove();


                                    }
                                    document.getElementById("message").innerHTML += '<div class="alert alert-success alert-dismissible alert-alt solid fade show">\
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                            </button>' + res.success + '</div>';


                                }

                            }
                        })
                    }
                }


            });


        });


        $('.sweet-success-cancel').on('click', function (event) {
            event.preventDefault();
            const url = $(this).attr('href');

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: "warning",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: "Yes, delete it !!",
                confirmButtonText: 'Delete',
                confirmButtonColor: "#DD6B55"

            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    event.preventDefault();
                }
            })
        });
    </script>

{% endblock %}

