{% extends 'advepa/elements/layouts/admin.html' %}
{% load static %}


{% block additional_css %}

{% endblock %}



{% block message %}
    {% include 'advepa/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div id="message">
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tabella delle scuole</h4>
                <div class="d-flex">
                    {% if perms.users.delete_school %}
                        <button type="submit" id="delete_multiple_btn"
                                class="btn light btn-outline-primary btn-sm me-2 ">Elimina
                        </button>
                    {% endif %}
                    {% if perms.users.add_school %}
                        <a href="{% url 'advepa:add-school' %}" class="btn btn-primary btn-sm">Crea Scuola<span
                                class="btn-icon-end">
                            <i class="fa fa-plus"></i></span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" value="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th>Nome</th>
                            <th>Codice Identificativo</th>
                            <th>Numero Classi</th>
                            <th>Numero Insegnanti</th>
                            <th>Numero Studenti</th>
                            <th>Status</th>
                            {% if perms.users.delete_school or perms.users.change_school %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% csrf_token %}
                        {% for school in school_list %}
                            {% if request.user.role == 'superadmin' or request.user.is_staff %}
                                <tr id="{{ school.id }}">
                                    <td>
                                        <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                            <input name="school_id[]" type="checkbox" class="form-check-input"
                                                   value="{{ school.id }}">
                                            <label class="form-check-label" for="checkbox-{{ school.id }}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{% url 'advepa:school-details' id=school.id %}">
                                            <div class="d-flex align-items-center">
                                                <span class="w-space-no">{{ school.name }}</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td>{{ school.custom_id }}</td>
                                    <td>{{ school.classrooms.all|length }}</td>
                                    <td>{{ school.get_teachers_number }}</td>
                                    <td>{{ school.get_students_number }}</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {% if school.is_active %}
                                                <i class="fa fa-circle text-success me-1"></i>
                                            {% else %}
                                                <i class="fa fa-circle text-dark me-1"></i>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="sweetalert">
                                            <div class="d-flex">
                                                {% if perms.users.change_school %}
                                                    <a href="{% url 'advepa:edit-school' id=school.id %}"
                                                       class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="fa fa-pencil"></i></a>
                                                {% endif %}
                                                {% if perms.users.delete_school %}
                                                    <a href="{% url 'advepa:delete-school' id=school.id %}"
                                                       class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                            class="fa fa-trash"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav mt-5>
                    <p>
                            <span class="current">
                            Pagina {{ school_list.number }} di {{ school_list.paginator.num_pages }}.
                           </span>
                    </p>


                    <ul class="pagination pagination-gutter  justify-content-end">

                        <li class="page-item page-indicator ">
                            <a class="page-link" href="{% if school_list.has_previous %}
                                                                ?page={{ school_list.previous_page_number }}
                                                                {% else %}
                                                                javascript:void(0);
                                                                {% endif %}">
                                <i class="la la-angle-left"></i></a>
                        </li>

                        {% for i in school_list.paginator.page_range|slice:":3" %}

                            <li class="page-item {% if school_list.number == i %}
                                                    active{% endif %}"><a class="page-link"
                                                                          href="?page={{ i }}">{{ i }}</a></li>

                        {% endfor %}


                        {% if school_list.number > 3 %}
                            <li class="page-item active"><a class="page-link"
                                                            href="?page={{ school_list.number }}">{{ school_list.number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item page-indicator ">
                            <a class="page-link" href="{% if school_list.has_next %}
                                                            ?page={{ school_list.next_page_number }}
                                                            {% else %}
                                                            javascript:void(0);
                                                            {% endif %}">
                                <i class="la la-angle-right"></i></a>
                        </li>
                        <li>


                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>


{% endblock %}


{% block additional_js %}

    <script>


        $(document).ready(function () {


            $('#delete_multiple_btn').on('click', function () {

                if (confirm("Sei sicuro di voler eliminare le scuole selezionati?")) {
                    var id = [];

                    $(':checkbox:checked').each(function (i) {
                        id[i] = $(this).val();
                    });

                    if (id.length === 0) {
                        alert("Perfavore seleziona le scuole da eliminare")
                    } else {
                        console.log(id);
                        $.ajax({
                            url: "/delete-multiple-school/",
                            method: "POST",
                            dataType: 'json',
                            data: {
                                id,
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function (res) {
                                if (res.warning) {
                                    document.getElementById("message").innerHTML += '<div class="alert alert-warning alert-dismissible alert-alt solid fade show">\
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                            </button>' + res.warning + '</div>';

                                }
                                if (res.success) {

                                    for (var i = 0; i < id.length; i++) {
                                        $('tr#' + id[i] + '').css('background-color', '#ccc');
                                        // $('tr#'+id[i]+'').fadeOut('slow');
                                        $('tr#' + id[i] + '').remove();


                                    }
                                    document.getElementById("message").innerHTML += '<div class="alert alert-success alert-dismissible alert-alt solid fade show">\
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                            </button>' + res.success + '</div>';


                                }

                            }
                        })
                    }
                }


            });


        });


        $('.sweet-success-cancel').on('click', function (event) {
            event.preventDefault();
            const url = $(this).attr('href');

            Swal.fire({
                title: 'Sei Sicuro?',
                text: "Non potrai tornare indietro!",
                type: "warning",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: "Si, elimina la scuola!",
                confirmButtonText: 'Elimina',
                confirmButtonColor: "#DD6B55"

            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    event.preventDefault();
                }
            })
        });
    </script>

{% endblock %}

